.text-deco-2{
  font-size: large;
  font-family: cursive;
  font-weight: 600;
  color: #3d59ab;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

table {
  width: 100%;
}
