<div class="wrapper">
  <div class="sidebar">
    <ul class="list-unstyled">
      <li class="pt-3">
          <span class="icon text-cobalt rounded-3 pr-1"><i class="fas fa-font round-padding text-light"></i></span>
          <span class="item text-cobalt font-weight-medium ">Alpha</span>
      </li>
      <li class="pl-1 pt-8">
        <a routerLink="/dashboard" class="current" >
          <span class="icon pr-2 text-info"><i class="fas fa-home"></i></span>
          <span class="item text-cobalt font-weight-medium ">Dashboard</span>
        </a>
      </li>
      <li class="pl-1 pt-3">
        <a routerLink="/sales">
          <span class="icon pr-2 text-primary"><i class="fas fa-money-check-alt"></i></span>
          <span class="item text-dark">Sales</span>
        </a>
      </li>
      <li class="pl-1 pt-3">
        <a routerLink="/cash-flow">
          <span class="icon pr-2 text-primary"><i class="fas fa-hand-holding-usd"></i></span>
          <span class="item text-dark">Income & Expenses</span>
        </a>
      </li>
      <li class="pl-1 pt-3">
        <a routerLink="/marketing">
          <span class="icon pr-2 text-primary"><i class="fas fa-users"></i></span>
          <span class="item text-dark">Marketing</span>
        </a>
      </li>
      <li class="pl-1 pt-3">
        <a routerLink="/utilities">
          <span class="icon pr-2 text-primary"><i class="fas fa-receipt"></i></span>
          <span class="item text-dark">Utilities</span>
        </a>
      </li>
      <li class="pl-1 pt-3">
        <a routerLink="/vendors">
          <span class="icon pr-2 text-primary"><i class="fas fa-check-circle"></i></span>
          <span class="item text-dark">Vendors</span>
        </a>
      </li>
      <li class="pl-1 pt-3">
        <a routerLink="/legal">
          <span class="icon pr-2 text-primary"><i class="fas fa-balance-scale"></i></span>
          <span class="item text-dark">Legal</span>
        </a>
      </li>

      <li class="pl-1 pt-10">
        <a routerLink="/userSettings">
          <span class="icon pr-2 text-primary "><i class="fas fa-user-cog"></i></span>
          <span class="item text-dark">Manage Users</span>
        </a>
      </li>

    </ul>
  </div>
</div>
<div class="main-section ">

  <div class="dropdown">
  <!-- <i class="fas fa-grip-lines fa-2x dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
   </i> -->
   <div class="dropdown d-inline">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">

    </button>
    <ul class="dropdown-menu pl-1 bg-cobalt width-md height-md line-height" aria-labelledby="dropdownMenu2">
     <li class="text-primary2 pt-3" >WELCOME BACK! {{client.firstName}} {{client.lastName}}.</li>
     <li class=" text-white">You have recorded 70% sales performance, the Clothing product category led August 2023.</li>
     <button class="btn-light text-cobalt rounded-3 btn-lg ">Take A Tour</button>
    </ul>
  </div>


  <span class= "pl-500">

  <ul class="list-inline mt-0 pl-500 ">
    <li class="list-inline-item bg-lightt rounded-5">
  <h5 class="reminder ">Notifications Center </h5><br>
  <figcaption class="blockquote-footer pb-1">
  You have <strong class="text-dark">1</strong>  unread notifications. <span class="bg-coral rounded-3 text-white">1</span></figcaption>
</li>

<li class="list-inline-item bg-lightt rounded-5 ">
   <!-- <span class="icon"><i class="far fa-user"></i></span> -->
   <h5 class="pb-1">{{message}}</h5><br>
    <figcaption class="blockquote-footer ">Vanity By Juls <span class="  rounded-3 p-design">  <a routerLink='/login' class="text-white " ><i class="fas fa-power-off   text-white rounded-3"></i>Log out</a></span> </figcaption>




  </ul>
</span>
<span>
 <!-- <p>Dashboard</p> -->
 <span class="text-start text-cobalt">Dashboard</span>
<p class="text-end font-dark pr-2">  <i class="fas fa-wrench fa-2x pr-1 text-cobalt"></i> <span class="text-cobalt pr-2">Customize Dashboard </span>
<span class="font-dark pr-1">|</span>   {{today}}</p>
</span>


<div class="box">
  <div class="box-2 mr-50">

   <ul class="list-linline pl-1 bg-cobalt width-md height-md list-inline rounded-3 line-height">
    <li class="text-primary2 list-unstyled pt-3" >WELCOME BACK! {{client.firstName}} {{client.lastName}}.</li>
    <li class=" text-white list-unstyled">See overview of analytics and reporting metrics and a lot more interesting stuffs you can do here.</li>
    <a routerLink="/sales"> <button class="btn-light text-cobalt rounded-3 btn-lg ">Take A Tour</button></a>
     </ul>
    </div>


  <div class="box-2">
    <ul class="list-inline line-height pl-1 width-md height-md bg-cobalt-light text-start rounded-3 pt-3">
  <li class=" pl-1 text-cobalt list-inline-item ">OPTIMIZED FINANCIAL PERFORMANCE</li>
  <li class=" pl-1 list-inline-item ">We've optimized the system to process your application as fast as possible.
    <strong>
   Click on the button below to input your feedback.</strong></li><br>
  <a routerLink="/feedback"><button class="btn-light text-cobalt rounded-3 btn-lg">New Request</button></a>
</ul>
</div>
</div>
</div>

<div class="clear"></div>

<div class="report-box">
  <div class="report-box1 pt-2 pl-2  mr-3">
   <p class="pt-2 font-bold">  Budget Performance Analysis</p>
   <p>Summary</p>
   <img class="text-center" width="180px" height="180px" src="https://apexcharts.com/wp-content/uploads/2018/01/dynamic-realtime-line-chart.svg" alt="">
   <ul class="text-primary text-deco-1">
    <li>Develop annual budget</li><br>
    <li>Optimize budget performance</li><br>
    <li>Refine budget with insights</li><br>
    <li>Understand budget challenges </li><br>
   </ul>

   <!-- <p>Total Play(NGN) <br> {{client.annualPlayBudget.totalPlay}} </p>
   <span><i class="far fa-circle text-primary"></i>Total Spent</span>
   <p>Total Spent(NGN) <br> {{client.annualPlayBudget.totalSpent}} </p>
   <p>Balance(NGN) <br> {{client.annualPlayBudget.balance}} </p> -->

  </div>
  <div class="report-box2 pl-2 text-dark ">
    <div class="">
    <p class="pt-2 font-bold text-dark">Marketing Insights</p>
    <p class="text-white">Summary</p>
    <img class="text-center" width="180px" height="180px" src="https://i.stack.imgur.com/7l3bR.png" alt="">
    <ul  class=" text-primary text-deco-1">
      <li>Curate smart marketing budget</li><br>
      <li>Model desired marketing outcomes</li><br>
      <li>Picture actual marketing result</li><br>
      <li>Refine marketing strategy</li><br>
    </ul>
  </div>

    <!-- <p class=" text-white">Total Cards <br> <span class="font-bold"></span> {{client.totalCards.totalCards}} </p>
    <span><i class="far fa-circle text-warning"></i>In-use</span>
    <p>Cards In-use <br> {{client.totalCards.cardsInUse}} </p>
    <p>Cards In-active <br> {{client.totalCards.inactive}} </p> -->

  </div>
  <div class="report-summary pl-2">

    <p class="pt-2 font-bold"> Profitability at a Glance</p>
    <p>Summary</p>
    <img class="text-center" width="180px" height="180px" src="https://cdn.jifo.co/js/shared/infographicTypes/thumbs/stacked_bar_chart.jpg" alt="">
    <!-- <img class="text-center" width="180px" height="180px" src="https://domo-support.domo.com/servlet/rtaImage?eid=ka05w00000123pE&feoid=00N5w00000Ri7BU&refid=0EM5w000005vPF0" alt=""> -->
    <!-- <p>Total Work(NGN) <br> {{client.annualWorkBudget.totalWork}} </p>
    <span><i class="far fa-circle text-coral"></i>Total Spent</span>
    <p>Total Spent(NGN) <br> {{client.annualWorkBudget.totalSpent}} </p>
    <p>Balance(NGN) <br> {{client.annualWorkBudget.balance}} </p> -->
    <ul class="text-success text-deco-1 text-medium ">
      <li>Visualise total sales</li><br>
      <li>Develop sales target</li><br>
      <li>Analyze periodic sales</li><br>
      <li>Smartly view product profitability</li><br>
    </ul>
  </div>
</div>
  <div class="clear"></div>


