.w-full{
  max-width: max-content;
}

.chart-section{
  padding-top: 50px;
  height: 480px;
  width: 1370px;

}

table{
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.pageTitle{
  font-size: large;
  font-family: cursive;
  font-weight: 600;
  color: #3d59ab
}

.subheader{
  font-family: 'Righteous', cursive;
  font-size: large;
}

.text-cobalt{
  color: #3d59ab;
}

.text-deco-sub{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alpha-bg{
  background: rgb(228, 239, 241);
  width: 920px;
  height: 500px;
}

.alpha-bg2{
  background: rgb(235, 241, 245);
  width: 450px;
  height:500px;
  /* border: 2px white solid; */
  padding: 15px;
}

.mb-10{
  margin-bottom: 100px;
}


.box1{
  width: 30%;
  float: left;
  background-color: antiquewhite;
}

.box2{
  width: 30%;
  float: right;
  background-color: aliceblue;
}

.box3{
  width: 30%;
  float: right;
  background-color: azure;
}

.section-box{
  /* width: 33.10%; */
  height: 400px;
  float: left;
  padding: 50px;
  text-align: center;

}

