<!-- <div class="chart-section">
  <div class="section-box alpha-bg2">
    <p>Chart</p>

  </div>
  <div class="section-box alpha-bg">
    <p>Product category set</p>

  </div>
  <div class="section-box alpha-bg2">
    <p>Sale record</p>

  </div>
</div>

<div>
  <table mat-table matSort>
    <ng-container >
      <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell>This is the ID</td>
    </ng-container>
    <ng-container >
      <th mat-sort-header mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell>This is the ID</td>
    </ng-container>
    <ng-container >
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Body</th>
      <td mat-cell>This is the ID</td>
    </ng-container>
    <ng-container >
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell>This is the ID</td>
    </ng-container>


  </table>
</div>






 -->
