.text-deco-2{
  font-size: large;
  font-family: cursive;
  font-weight: 600;
  color: #3d59ab;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

div{
  text-align: center;
  margin-bottom: 25px;
}

.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

mat-sidenav-container{
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
  background-color: pink;
  width:200px;
}


section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

mat-form-field {
  margin-right: 12px;
}

button{
  margin-right: 3rem;
}


.example-full-width {
  width: 100%;
}
