
<div class="d-flex">

  <div style="width: 50vw; height: 100vh;" class="pt-4 flex-fill bg-light ">
    <h1 class="text-cobal fs-1 pl-2 "> Alpha</h1>
    <div class="col-md-6 mx-auto  ">
      <div class="text-left">  <h2 class="pb-4 pt-8 text-primary">
        <!-- <i class="fas fa- fa-lg round-padding text-light"></i> -->
          <span class="text-dark fs-2"> Login</span>
      </h2></div>
      <div>Continue to your account</div>
      <pre></pre>

    <form #login="ngForm" (ngSubmit)="auth(login)" >
      <div class="form-group p-1 font-dark-300 fs-5">
        <label class="p-1" for="companyEmail">Email</label>
        <input type="email" #companyEmail="ngModel" name="companyEmail" class="form-control" placeholder="Enter your email" required ngModel >
      </div>
      <pre></pre>

      <div class="form-group p-1 fs-5">
        <label  class="p-1" for="password">Password</label>
        <input type="password" #password="ngModel" name="password" class="form-control" required ngModel >
      </div>
      <pre></pre>

      <div class="pt-4 form-group">
        <a routerLink="/dashboard">
          <button [disabled]="login.invalid" class="btn btn-lge btn-primary text-light" type="submit"> Log In </button>
        </a>
        <div [hidden]="login.valid || login.pristine" class="alert alert-danger"> Invalid login credentials.</div>
      </div>


    </form> <br>

    <div class="pt-2"><p>Don't have an account? <span class="text-cobal"> <a routerLink="/register" class="text-decoration-none"> Sign up </a></span> </p> </div>



  </div>
  </div>

  <div class="flex-fill">
    <img style="width: 50vw; height: 100vh;" src="https://media-s3-us-east-1.ceros.com/forbes/images/2021/06/07/0c6e1bc5a70aa7cc420d905d5024caae/header-fintech-16x9.jpg" alt="Fintech">
  </div>



</div>

