.pb-4{
  padding-bottom: 4rem;
}

.pt-3{
  padding-top: 3rem;
}

.pt-8{
  padding-top: 8rem;
}

.pt-4{
  padding-top: 4rem;
}

.pl-30{
  padding-left: 120px;
}

.round-padding{
  padding:  8px 15px 15px 15px;
  background: #3d59ab;
  border-radius: 60%;
}

.input-light{
 width: 250px;
 height: 50px;
  background: white;
  border-radius: 3px white;
  border: white;
}

.text-cobal{
  color: #3d59ab;
}

.btn-lge{
  width: 250px;
  height: 50px;
  background:rgb(27, 27, 105) ;
}

.bg-full{
  height: 60vw;
}

div{
  justify-content: left;
}
